.inputBox{
    padding: 1rem;
}
.inputBox label{
    color: white;
    font-size: 1.3rem;
    font-weight: 400;

    /* margin-bottom: 1rem; */
}
.inputBox input{
    width: 100%;
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    /* padding: 0.1rem 0; */
}