.likes {
    display: flex;
    /* flex: 1; */
    flex-direction: row;
    align-items: center;
    /* border: 1px solid red; */
    align-items: center;
  }
  .likeCount {
    margin: 0;
    min-width: 15px;
    padding-left: 4px;
    font-size: 0.8em;
    /* border: 1px solid turquoise; */
  }
  .icon {
    color: #fb3958;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    /* border: 1px solid violet; */
    flex: 1;
    /* margin: 0 0.5rem; */
    /* font-size: 2rem; */
  }