.likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
}
.likeCount {
  margin: 0;
  min-width: 15px;
  padding-left: 4px;
  font-size: 0.8em;
}
.icon {
  color: #fb3958;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-left: 0.5rem;
  font-size: 1.8rem;
  flex: 1;
}
.icon:hover{
  transform: scale(1.2);
}